body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #656177, #bac1c2);
    color: rgb(24, 22, 22);
    text-align: center;
}

header {
    padding: 40px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    background: #000;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: white;
    color: black;
}

.foto-cuadrada {
    object-fit: cover;
    margin-top: 20px;
    border-radius: 12px;
    border: 2px solid white;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    padding: 20px;
    justify-items: center;
}

.galeria img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.contenido {
    background: rgba(0,0,0,0.4);
    margin: 30px;
    padding: 25px;
    border-radius: 20px;
}

footer {
    padding: 20px;
}
